body {
    font: 'Merriweather', sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather","Georgia",sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
}

p {
  line-height: 1.6;
}

hr {
  max-width: 400px;
  border-color: #999999;
}
.intro-text {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
}
.navbar-header, .navbar-nav, .navbar-brand{
  font-family: "Merriweather","Helvetica Neue",Helvetica,Arial,sans-serif;

}

.navbar-brand,
.navbar-nav li a {
  line-height: 20px;
  padding: 20px 35px !important;
}

.navbar-default .navbar-brand {
  color: #543c5d;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
}

.navbar-wrapper {
  padding-bottom: 100px;
}

.navbar-collapse {
  padding-left: 60px;
}
.featurette-image {
  width:457px;
  height: 292px;
}
.featurette-divider {
  max-width: 100%;
}

i {
	color: #62466d;
}

.gallery-heading, .heading {
    color: #62466d;
}

.gallery-body, .content {
    font-family: 'Neuton', sans-serif;
    font-size: 20px;
}

.gallery-caption, .modal-body {
    font-family: 'Neuton', sans-serif;
    font-size: 16px;
}

.gallery-caption h4 {
    font-size: 20px;
}

.marketing {
    font-size: 18px;
}

.padding {
    padding: 10px;
}

.alsoView .col-sm-3 {
    margin-top: 25px;
    height: 223px;
}

.product-img {
    margin: 0 auto;
}

.alsoView>div>a>img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.gallery>div>a>img, .promo>div>a>img {
    width: 360px;
    height: 300px;
    margin: 0 auto;
    min-width: 280px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.shadow {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.top-bar {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 12px;
    color: #70507d;
    background-color: #f6f6f6;
    letter-spacing: .9px;
}

.top-bar>p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.navbar-default {
        background: #f6f6f6;
        background: rgba(255,255,255,0.9);

    }
@media screen and (min-width:768px) {
  .brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: normal;
    color: #543c5d;
  }

  .top-divider {
    margin-top: 0;
  }

  .img-left {
    float: left;
    margin-right: 25px;
  }

  .address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #333;
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-brand {
    display: none;
  }
  .navbar-header {
    display: none;
  }

  .navbar {
    min-height: 0;
  }

  .navbar-default {
    background: #f6f6f6;
    background: rgba(255,255,255,0.9);
  }

  .nav>li>a {
      padding: 30px 15px;
      padding-top: 10px;
  }

  .navbar-nav>li>a {
      line-height: normal;
  }

  .navbar-nav {
      display: table;
      float: none;
      margin: 0 auto;
      table-layout: fixed;
      font-size: 1.25em;
  }
}
