/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$color1: rgba(255,255,255,1);
$teal: #13ACB1;
$carouselHeight: 500px;

 html {
   min-height: 100vh;
 }

 body {
     font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
     height: 100%;
     min-height: 100vh;
     background: #fafafa;
     height: 100%;
     position: relative;
     padding-bottom: 50px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     text-transform: uppercase;
     font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
     letter-spacing: 1px;
 }

 p {
     font-size: 1.25em;
     line-height: 1.6;
     color: #000;
 }

 hr {
     max-width: 400px;
     border-color: #999999;
 }

 .brand,
 .address-bar {
     display: none;
 }

 .navbar-brand {
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: 2px;
     font: inherit;
 }

 .navbar-nav {
     text-transform: uppercase;
     font-weight: 400;
     letter-spacing: 3px;
 }

 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   background-color: rgba(230, 230, 230, 0.4);
 }

 .img-full {
     min-width: 100%;
 }

 .brand-before,
 .brand-name {
     text-transform: capitalize;
 }

 .brand-before {
     margin: 15px 0;
 }

 .brand-name {
     margin: 0;
     font-size: 4em;
 }

 .tagline-divider {
     margin: 15px auto 3px;
     max-width: 250px;
     border-color: #999999;
 }

 .box {
     margin: 20px auto;
     padding: 30px 15px;
     background: #fafafa;
 }

 .intro-text {
     text-transform: uppercase;
     font-size: 1.25em;
     font-weight: 400;
     letter-spacing: 1px;
 }

 .img-border {
     float: none;
     margin: 0 auto 0;
     border: #999999 solid 1px;
 }

 .img-left {
     float: none;
     margin: 0 auto 0;
 }

 .img-center {
   display: block;
   margin: 0 auto;
 }

 footer {
     background: #fff;
     background: rgba(255,255,255,0.9);
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 50px;
 }

 footer p {
     margin: 0;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

 .alsoView .col-sm-3 {
     margin-top: 25px;
     height: 223px;
 }

 .product-img {
     margin: 0 auto;
 }

 .alsoView>div>a>img {
     width: 100%;
     height: 100%;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
     margin: 0 auto;
 }
 @media screen and (min-width:768px) {
     .brand {
         display: inherit;
         margin: 0;
         padding: 30px 0 10px;
         text-align: center;
         text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
         font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
         font-size: 5em;
         font-weight: 700;
         line-height: normal;
         color: #333;
     }

     .top-divider {
         margin-top: 0;
     }

     .img-left {
         float: left;
         margin-right: 25px;
     }

     .address-bar {
         display: inherit;
         margin: 0;
         padding: 0 0 40px;
         text-align: center;
         text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
         text-transform: uppercase;
         font-size: 1.25em;
         font-weight: 400;
         letter-spacing: 3px;
         color: #333;
     }

     .navbar {
         border-radius: 0;
     }

     .navbar-header {
         display: none;
     }

     .navbar {
         min-height: 0;
     }

     .navbar-default {
         border: none;
         background: #fff;
         margin-bottom: 0 !important;
     }

     .nav {
       width: 100%;
       text-align: center;
     }

     .nav>li {
       width: 20%;
       text-align: center;
       display: inline-block;
       float: none;
     }

     .nav>li>a {
        font-size: 16px;
        padding: 20px 0px;
     }

     .navbar-nav>li>a {
         line-height: normal;
     }

     .navbar-nav {
         display: table;
         float: none;
         margin: 0 auto;
         table-layout: fixed;
         font-size: 1.25em;
     }

     .col-sm-4 {
         padding: 5px;
     }

     .alsoView .col-sm-3 {
     margin-top: 0px;
     }

     .product-img {
     margin: 0 auto;
     }

     .fin-but {
         height: 222px;
     }

     .fin-but>a>button {
         margin-top: 20%;
     }
 }

 @media screen and (min-width:860px) {
   .nav>li>a {
      font-size: 18px;
   }
 }

 .carousel-inner {
   height: $carouselHeight;
   overflow: hidden;
 }

 @media screen and (min-width:1200px) {
 }

 .modal-open {
     padding-right: 0 !important;
 }
 .brand>a {
     color: inherit;
 }

 .brand>a:hover {
     text-decoration: none;
     color: inherit;
     font: inherit;
 }

 .product-ul {
     font-size: 18px;
 }

 .glyphicon {
     font-size: 16px;
     color: black;
 }

 a:hover {
     text-decoration: none;
     font: inherit;
     color: inherit;
 }

 .map {
     box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 5px;
 }

 .shadow {
         box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
 }

 .alsoView>h3 {
     margin-top: -10px;
     margin-bottom: 20px;
 }

 .alsoView>div>a>img {
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
     margin: 0 auto;

 }

 .gallery>div>a>img {
     width: 360px;
     height: 360px;
     margin: 0 auto;
 }

 .gallery>div {
     margin-bottom: 25px;
 }

 .promo>div>a>img {
     width: 360px;
     height: 300px;
     margin: 0 auto;
 }

 .promo>div {
     margin-bottom: 25px;
 }

 a {
     color: inherit;
 }

 .mid>div>a>img {
     margin: 0 auto;
 }

 .finance>img {
     margin: 0 auto;
     padding-bottom: 10px;
 }

 .finance>button {
 margin-top: 20%;

 }

 .fa {
     padding: 5px;
 }

 a>.fa-facebook-square:hover {
     color: #3b5998;
     transition: .6s;
 }

 a>.fa-instagram:hover {
     color: #fb3958;
     transition: .6s;
 }

 a>.fa-twitter-square:hover {
     color: #00aced;
     transition: .6s;
 }

 a>.fa-pinterest:hover {
     color: #bd081c;
     transition: .6s;
 }

 .price {
   margin-top: 20px;
   h1 {
     font-size: 60px;
     display: inline-block;
   }
   td, th {
     font-size: 24px;
   }
 }

 .sale {
   display: inline-block;
   padding: 10px;
   text-decoration: line-through;
   color: #999;
   font-style: italic;
 }

 .primary {
     padding-top: 25px;
 }

 .product {
   position: relative;
   margin-bottom: 20px;
   max-height: 360px;
   height: 360px;
   overflow: hidden;
   box-sizing: border-box;
   .safe-zone {
     width: 100%;
     height: 100%;
     position: relative;
     overflow: hidden;
   }
   .image {
     width: 100%;
     height: 100%;
     position: absolute;
     transition: transform .4s ease;
   }
   .info {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    height: 60px;
    p {
      color: #333;
      font-size: 20px;
      padding: 10px;
      .price {
        float: right;
        margin: 0;
        font-weight: 700;
        font-style: italic;
        font-family: "Josefin Slab"
      }
    }
  }
  &:hover {
    .image {
      transform: scale(1.1);
    }
  }
 }

.item.active {
}

.item {
  position: relative;
  .col-xs-4 {
    overflow: hidden;
    padding: 0;
    position: relative;
    height: $carouselHeight;
  }
  .product-slide {
    img {
      filter: brightness(90%);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .promo {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h3 {
      margin: 15%;
    }
  }
  .cover {
    background-color: $color1;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.promo-button {
  border: none;
  border-radius: 0px;
  background-color: $teal;
  color: #fff;
  font-size: 30px;
  font-family: "Dancing Script",sans-serif;
  padding: 15px 45px;
  letter-spacing: 2px;
  border: 1px solid $teal;
  transition: background-color .4s ease;
  &:hover {
    background-color: darken(#13ACB1, 10%);
  }
}

.promo-button-sm {
  padding: 5px 15px;
}

.flip {
  // transform: scaleX(-1) translateX(60%) !important;
}

.mattress-quiz {
  .promo-button {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
  }
  position: relative;
  height: 100%;
  h2 {
    position: absolute;
    left: 12%;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
    width: 25%;
    font-size: 46px;
    line-height: 50px;
  }
  img {
    filter: brightness(70%);
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
  }
}

label {
  display: block;
  font-weight: 100;
  font-size: 16px;
  font-family: "Open Sans";
  &:hover {
    cursor: pointer;
  }
}

.new_search label {
  display: inline;
  padding-left: 35px;
  position: relative;
  @media screen and (min-width: 768px) {
    & {
      display: block;
    }
  }
}

// ============================================== Brand Page  ==============================================
.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  img.bg {
    position: absolute;
    width: 100%;
    filter: brightness(70%);
    z-index: -1;
  }
  h1 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    font-size: 5em;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
  .logo {

  }
}

.brand-name {
  text-align: center;
  font-size: 48px;
}

.brand-video {
  // width: 80%;
  // height: 80vh;
  margin: 10vh auto;
  display: block;
}

.brand-products {
  overflow: hidden;
  .mattress {
    padding: 0;
    img {
      transition: transform .4s ease;
    }
    &:hover {
      img {
        transform: scale(1.1);
      };
    }
  }
}


.product-search {
  h1 {
    text-align: center;
    margin-top: 0px;
  }
}

// ==============================================  Mattress Index Styles ==============================================
.mattresses {
  margin-top: 20px;

  .promo-button {
    float: right;
  }
}

.products {
  margin-top: 20px;

  .product-search {
    .promo-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .col-sm-2 {
      position: relative;
      min-height: 60px;
      @media screen and (min-width: 768px) {
        & {
          min-height: 200px;
        }
        .promo-button {
          left: -15px;
        }
      }
      @media screen and (min-width: 992px) {
        left: auto;
      }
    }
  }
}

// ==============================================  Mattress Show Styles  ==============================================
.comfort-wrapper {
  background-color: #ccc;
}

// ==============================================  Radio Button Styles  ==============================================


[type="radio"]:checked+label:before {
    border: 2px solid transparent;
}

[type="radio"]:checked+label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: $teal;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid $teal;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after, [type="radio"]:checked+label:before, [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border-radius: 50%;
}

[type="radio"]+label:before, [type="radio"]+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
  padding: 0;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked)+label:after {
    -webkit-transform: scale(0);
    transform: scale(0);
}


table td, th {
  padding: 10px;
  text-align: center;
}

th {
  text-align: center;
}
