html {
   min-height: 100vh;
 }

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  min-height: 100vh;
  background: url('bg (1).jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
 }

 .box {
     margin-bottom: 20px;
     padding: 30px 15px;
     background: #fff;
     background: rgba(255,255,255,0.9);
 }

 @media screen and (min-width:768px) {
  .brand {
     display: inherit;
     margin: 0;
     padding: 30px 0 10px;
     text-align: center;
     text-shadow: 8px 8px 5px rgba(0,0,0,0.5);
     font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 5em;
     font-weight: 700;
     line-height: normal;
     color: #fff;
  }

  .address-bar {
     display: inherit;
     margin: 0;
     padding: 0 0 40px;
     text-align: center;
     text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
     text-transform: uppercase;
     font-size: 1.25em;
     font-weight: 400;
     letter-spacing: 3px;
     color: #fff;
  }

  .navbar-nav > li > a {
    padding: 35px 0;
  }
}
