<div class="col-md-2 product-search">
  <div class="clearfix">
    <div class="row">
      <div class="col-sm-12">
        <h3>Categories</h3>
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= current_class("/#{@categories.first.parent_category}") %>" role="presentation"><%= link_to "All", "/#{@categories.first.parent_category}" %></li>
          <% @categories.all.each do |category| %>
            <% if category.products.length > 0 %>
              <li class="<%= current_class(category_products_path(category)) %>" role="presentation"><%= link_to category.name, category_products_path(category) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
